.md-grid {
    max-width: 1480px;
}

.md-typeset table:not([class]) {
    display: block;
    overflow-x: auto;
    font-size: 0.72rem;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    padding: 0.3em 1em;
}
